body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

select {
    height: 25px;
}

header {
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #000;
    color: #FFF;
    z-index: 1000;
    padding: 0.5rem 1rem;
}

header h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem 0 5rem;
}

.config {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    font-size: 25px;
    margin: 0.5rem;
    background-color: #ececec;
    box-shadow: 5px 5px 5px #ccc;
}

.red {
    background-color: #f43f3f;
    color: #fff;
}
.green {
    background-color: #4fff4f;
    color: #000;
}

.blue {
    background-color: #5c5ce6;
    color: #FFF;
}

.colors {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.colors div {
    margin: 10px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    width: 100%;
    text-align: center;
}

.colors .color-text {
    font-size: 50px;
    font-weight: 900;
    font-family: monospace;
    text-transform: uppercase;
}

@keyframes red {
    from {background-color: #f7f6f6; color: black;}
    to {background-color: #f43f3f; color: #FFF;}
}

@keyframes green {
    from {background-color: #f7f6f6; color: black;}
    to {background-color: #4fff4f; color: black;}
}

@keyframes blue {
    from {background-color: #f7f6f6; color: black;}
    to {background-color: #5c5ce6; color: white;}
}

.log-header {
    display: flex;
    justify-content: space-between;
}

.logs {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    background-color: black;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    width: 100%;
    border: 10px solid orange;
}

.logs.green {
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
    );
}

.logs.purple {
    background-image: radial-gradient(
        rgb(150 0 117 / 75%), black 120%
    )
}

.logs.red {
    background-image: radial-gradient( #f00, black 120% );
}

.logs.blue {
    background-image: radial-gradient(
        #00c2ff, black 120%
    )
}

.logs.black {
    background-image: radial-gradient(
        #000, black 120%
    )
}

.log-settings {
    display: flex;
    align-items: center;
}

.log-settings .log-theme {
    display: flex;
    list-style: none;
}

.log-settings .log-theme LI {   
    width: 10px;
    height: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 9px;
    cursor: pointer;
}

.log-settings LI.black {
    background-color: #575151;
}
.log-settings LI.purple {
    background-color: #bd24bd;
}
.log-settings LI.blue {
    background-color: #6464ee;
}
.log-settings LI.green {
    background-color: #13b313;
}

.log-settings LI.red {
    background-color: #f94747;
}

::selection {
    background: #ff6600;
    text-shadow: none;
}

.logs H2 {
    margin: 0;
    padding: 0;
    display: inline;
}

.logs UL#log-id {
    height: 335px;
    overflow-y: auto;
}

.logs UL#log-id LI {
    list-style: none;
    padding: 0.2rem;
}

.logs UL#log-id LI.error {
    color: red;
}

.logs .close {
    cursor: pointer;
}


@media screen and (max-width: 660px) {
   .content {
        margin: 1.5rem
   }

   .config {
       width: 100%;
   }

   .colors {
       width: 100%;
       display: block;
   }

   .colors div {
       width: auto;
   }
}

@media screen and (min-width: 1800px) {
    .logs UL#log-id {
        height: 560px;
    }
}

footer {
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 1rem;
}